.info-section {
  background: $secondary-color;
  color: $main-color;

  min-height: 40vh;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
}

.info {
  margin: 0 1em;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20%;
}

.info-title {
  flex: 1 1 100%;
  text-align: center;
  font-size: 4em;
}

.info-text {
  color: #000000;
}
