.hackathon-usp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hackathon-logo {
    width: 25%;
    height: 450px;
    background-color: #574C4C;
    flex-basis: flex-end;
}

.hackathon-usp-info {
    width: 60%;
    font-size: 1.3em;
    text-align: justify;
    padding-right: 20px;
}