@import "variables";
@import "navbar";
@import "devjourney";
@import "header";
@import "footer";
@import "hackathon";
@import "codeschool";
@import "about";

.ucl-logo {
  z-index: 9;
  border-radius: 100%;
  width: 25%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 95vh;
  padding: 1vh 2vh 1vh 2vh;
}

.section-title {
  flex: 1 1 100%;
  font-size: 1.8em;
  color: $main-color;
  padding-bottom: 0.3em;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
