@import "variables";
@import "navbar";
@import "devjourney";
@import "header";
@import "footer";
@import "hackathon";
@import "codeschool";

.section-title {
  flex: 1 1 100%;
  text-align: center;
  font-size: 4em;
  color: $main-color;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 100vh;
  padding: 1vh 2vh 1vh 2vh;
}
