/* --------------------------------------------
||                 Color Palette               ||
  ---------------------------------------------*/

$ucl-orange: #ff690a;
$ucl-orange-light: #ff883e;
$ucl-orange-dark: #ca4e00;

$ucl-black: #292827;
$ucl-grey: #666361;
$ucl-grey-light: #dde4e9;
$ucl-light: #f8f9fa;

/* --------------------------------------------
||                     Font                    ||
  ---------------------------------------------*/

$font-family-base: Montserrat, "IBM Plex Sans Condensed";

@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url("~@/assets/fonts/Montserrat-Medium.otf");
}

.discord {
  background-color: #738adb !important;
}
.docker {
  background-color: #0db7ed !important;
}
.gitlab {
  background-color: #e24329 !important;
}
.linux {
  background-color: #333333 !important;
}
.nodejs {
  background-color: #215732 !important;
}
.nuxt {
  background-color: #42b883 !important;
}
.rails {
  background-color: #cc0000 !important;
}
.react {
  background-color: #00d8ff !important;
}
.ruby {
  background-color: #cc342d !important;
}
.vuejs {
  background-color: #42b883 !important;
}

.fa-envelope:hover {
  color: #00aced !important;
}
.fa-envelope:focus {
  color: #00aced !important;
}

.fa-facebook:hover {
  color: #2b55ff !important;
}
.fa-facebook:focus {
  color: #2b55ff !important;
}

.fa-telegram:hover {
  color: #1f95d3 !important;
}
.fa-telegram:focus {
  color: #1f95d3 !important;
}

.fa-gitlab:hover {
  color: #e24329 !important;
}
.fa-gitlab:focus {
  color: #e24329 !important;
}

.fa-medium:hover {
  color: #02b875 !important;
}
.fa-medium:focus {
  color: #02b875 !important;
}

.fa-github:hover {
  color: #bfbfbf !important;
}
.fa-github:focus {
  color: #bfbfbf !important;
}